<router-outlet></router-outlet>
<div id="index">
  <a [routerLink]="['/map']" class="col-xs-1 menu">
    <span class="glyphicon glyphicon-globe gi-2x"></span>
    <h4>Mapa</h4>
  </a>
  <a [routerLink]="['/list']" class="col-xs-1 menu">
    <span class="glyphicon glyphicon-th-list gi-2x"></span>
    <h4>Listado zonas</h4>
  </a>
  <a [routerLink]="['/search']" class="col-xs-1 menu">
    <span class="glyphicon glyphicon-search gi-2x"></span>
    <h4>Buscador</h4>
  </a>
  <div style="clear:both;">HOLA<br><br></div>
  <div>HOLA<br><br></div>

</div>
